

.shortcut-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top : 12vh;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 1vw; /* Space between buttons */
  justify-items: center; /* Center align buttons */
}

p-button {
  transition-duration: 0.3s;
}

p-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}




