

.shortcut-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top : 12vh;



}



p-card
{
  width: 60vh;
  height: auto;
}


mat-grid-tile {
  text-align: center;
  width : auto;
  height : auto;
  border-radius: 15px;
  border : 1px solid ;
}

mat-grid-tile:hover {
  transform: scale(1.05);
  cursor: pointer;
}

