<!DOCTYPE html>
<html lang="dk">


<div class="close-counter-container">
  <p-toast />
  <p-card header="Luk kasse"
          [style]="
          {'max-width': '60rem',
           'border-radius': '2vh',
           'min-width': '60rem',
            'min-height': '50rem',
            'max-height': '50rem',
            'overflow': 'auto'
           }">


    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">Kontant</p-tab>
        <p-tab value="1">Andre betalingsmidler</p-tab>
        <p-tab value="2">Oversigt</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">

          <p-card  subheader="Optællingsskema"  [style]=" {'border': '1px solid', 'margin-top': '2vh'}">





            <div class="card-content">
              <div class="left-panel">


                <p-card subheader="sedler">

                  <p-inputgroup>
                    <p-floatlabel variant="in">
                      <input pInputText id="1000" [(ngModel)]="cash1000"  (ngModelChange)="calculateTotalCounted()"/>
                      <label for="1000">1000 kr.</label>
                    </p-floatlabel>
                  </p-inputgroup>

                  <p-inputgroup>
                    <p-floatlabel variant="in">
                      <input pInputText id="500"  [(ngModel)]="cash500" (ngModelChange)="calculateTotalCounted()"/>
                      <label for="500">500 kr.</label>
                    </p-floatlabel>
                  </p-inputgroup>

                  <p-inputgroup>
                    <p-floatlabel variant="in">
                      <input pInputText id="200" [(ngModel)]="cash200" (ngModelChange)="calculateTotalCounted()"/>
                      <label for="200">200 kr.</label>
                    </p-floatlabel>
                  </p-inputgroup>

                  <p-inputgroup>
                    <p-floatlabel variant="in">
                      <input pInputText id="100" [(ngModel)]="cash100" (ngModelChange)="calculateTotalCounted()"/>
                      <label for="100">100 kr.</label>
                    </p-floatlabel>
                  </p-inputgroup>

                  <p-inputgroup>
                    <p-floatlabel variant="in">
                      <input pInputText id="50"  [(ngModel)]="cash50" (ngModelChange)="calculateTotalCounted()"/>
                      <label for="50">50 kr.</label>
                    </p-floatlabel>
                  </p-inputgroup>


                </p-card>

              </div>


              <p-divider layout="vertical"></p-divider>


              <div class="right-panel">


                <p-card subheader="mønter">

                  <p-inputgroup>
                    <p-floatlabel variant="in">
                      <input pInputText id="20" [(ngModel)]="cash20" (ngModelChange)="calculateTotalCounted()"/>
                      <label for="20">20 kr.</label>
                    </p-floatlabel>
                  </p-inputgroup>

                  <p-inputgroup>
                    <p-floatlabel variant="in">
                      <input pInputText id="10" [(ngModel)]="cash10" (ngModelChange)="calculateTotalCounted()" />
                      <label for="10">10 kr.</label>
                    </p-floatlabel>
                  </p-inputgroup>

                  <p-inputgroup>
                    <p-floatlabel variant="in">
                      <input pInputText id="5" [(ngModel)]="cash5" (ngModelChange)="calculateTotalCounted()"/>
                      <label for="5">5 kr.</label>
                    </p-floatlabel>
                  </p-inputgroup>

                  <p-inputgroup>
                    <p-floatlabel variant="in">
                      <input pInputText id="2" [(ngModel)]="cash2" (ngModelChange)="calculateTotalCounted()"/>
                      <label for="2">2 kr.</label>
                    </p-floatlabel>
                  </p-inputgroup>

                  <p-inputgroup>
                    <p-floatlabel variant="in">
                      <input pInputText id="1" [(ngModel)]="cash1" (ngModelChange)="calculateTotalCounted()"/>
                      <label for="1">1 kr.</label>
                    </p-floatlabel>
                  </p-inputgroup>

                  <p-inputgroup>
                    <p-floatlabel variant="in">
                      <input pInputText id="05" [(ngModel)]="cash05" (ngModelChange)="calculateTotalCounted()"/>
                      <label for="05">50 øre</label>
                    </p-floatlabel>
                  </p-inputgroup>



                </p-card>

              </div>

            </div>





          </p-card>


          <p-card  subheader="Kassebeholdning" [style]=" {'border': '1px solid', 'margin-top': '2vh'}">





            <p-card subheader="Optalt">

              <p-inputgroup >
                <p-floatlabel  variant="in">
                  <input readonly pInputText id="cash"  [(ngModel)]="totalCashCounted" (ngModelChange)="calculateTotalCounted()" />
                  <label for="cash">Optalt</label>
                </p-floatlabel>

                <p-floatlabel  variant="in">
                  <input readonly pInputText id="reg"  [(ngModel)]="RegisteredCash" (ngModelChange)="calculateTotalCounted()" />
                  <label for="reg">Registreret</label>
                </p-floatlabel>

                <p-floatlabel  variant="in">
                  <input readonly pInputText id="diff"  [(ngModel)]="DifferenceCash" (ngModelChange)="calculateTotalCounted()" />
                  <label for="diff">Difference</label>
                </p-floatlabel>




              </p-inputgroup>

            </p-card>

          </p-card>



        </p-tabpanel>
        <p-tabpanel value="1">


          <p-card  subheader="Betalingskort" [style]=" {'border': '1px solid', 'margin-top': '2vh'}">

            <p-inputgroup >
              <p-floatlabel  variant="in">
                <input  pInputText id="cardCount"  [(ngModel)]="totalCardCounted" (ngModelChange)="calculateDifference()" />
                <label for="cardCount">Optalt</label>
              </p-floatlabel>

              <p-floatlabel  variant="in">
                <input readonly pInputText id="cardReg"  [(ngModel)]="RegisteredCard"/>
                <label for="cardReg">Registreret</label>
              </p-floatlabel>

              <p-floatlabel  variant="in">
                <input readonly pInputText id="cardDiff"  [(ngModel)]="DifferenceCard" />
                <label for="cardDiff">Difference</label>
              </p-floatlabel>
            </p-inputgroup>

          </p-card>

          <p-card  subheader="Faktura" [style]=" {'border': '1px solid', 'margin-top': '2vh'}">

            <p-inputgroup >
              <p-floatlabel  variant="in">
                <input  pInputText id="invoiceCount"  [(ngModel)]="totalInvoiceCounted" (ngModelChange)="calculateDifference()"/>
                <label for="cardCount">Optalt</label>
              </p-floatlabel>

              <p-floatlabel  variant="in">
                <input readonly pInputText id="invoiceReg"  [(ngModel)]="RegisteredInvoice"/>
                <label for="cardReg">Registreret</label>
              </p-floatlabel>

              <p-floatlabel  variant="in">
                <input readonly pInputText id="invoiceDiff"  [(ngModel)]="DifferenceInvoice" />
                <label for="cardDiff">Difference</label>
              </p-floatlabel>
            </p-inputgroup>

          </p-card>

          <p-card  subheader="MobilePay" [style]=" {'border': '1px solid', 'margin-top': '2vh'}">

            <p-inputgroup >
              <p-floatlabel  variant="in">
                <input  pInputText id="mobilePayCount"  [(ngModel)]="totalMobilePayCounted" (ngModelChange)="calculateDifference()"/>
                <label for="mobilePayCount">Optalt</label>
              </p-floatlabel>

              <p-floatlabel  variant="in">
                <input readonly pInputText id="mobilePayReg"  [(ngModel)]="RegisteredMobilePay"/>
                <label for="mobilePayReg">Registreret</label>
              </p-floatlabel>

              <p-floatlabel  variant="in">
                <input readonly pInputText id="mobilePayDiff"  [(ngModel)]="DifferenceMobilePay" />
                <label for="mobilePayDiff">Difference</label>
              </p-floatlabel>
            </p-inputgroup>
          </p-card>



        </p-tabpanel>
        <p-tabpanel value="2">


          <p-card  subheader="Oversigt" [style]=" {'border': '1px solid', 'margin-top': '2vh'}">
            <p-inputgroup >
              <p-floatlabel  variant="in">
                <input readonly pInputText id="newHolding"  [(ngModel)]="newHolding"/>
                <label for="newHolding">Ny kassebeholdning</label>
              </p-floatlabel>

              <p-floatlabel  variant="in">
                <input readonly pInputText id="totalDiff"  [(ngModel)]="totalDifference"/>
                <label for="totalDiff">Samlet difference</label>
              </p-floatlabel>
            </p-inputgroup>
          </p-card>

          <p-button
            [style]="{'margin-top': '28rem', 'margin-left': '48rem'}"
            severity="success"
            label="Luk kasse"
            (click)="closeCounter()"
          >

          </p-button>

        </p-tabpanel>

      </p-tabpanels>
    </p-tabs>


  </p-card>


</div>


</html>
