<!DOCTYPE html>
<html lang="dk">


<div class="display-counter-reconciliations-container">
  <p-toast />
  <p-card header="Kasseopgørelser"
          [style]="
          {'max-width': '80rem',
           'border-radius': '2vh',
           'min-width': '80rem',
            'min-height': '50rem',
            'max-height': '50rem',


           }">

    <p-floatlabel variant="in">
      <p-datePicker id="in_label" [(ngModel)]="chosenDate" (onSelect)="updateAvailableCounterReports()" showIcon iconDisplay="input" />
      <label for="in_label">Vælg dato</label>
    </p-floatlabel>



    <p-table
      #counterRapportTable
      [value]="filteredCounterReports"
      [scrollable]="true"
      scrollHeight="53vh"
      stripedRows>


      <ng-template pTemplate="header">
        <tr>
          <th>Kasse</th>
          <th>Dato</th>
          <th>Startbeholdning</th>
          <th>Slutbeholdning</th>
          <th>Kontant</th>
          <th>Kort</th>
          <th>Faktura</th>
          <th>MobilePay</th>
          <th>Difference</th>
          <th>Omsætning</th>


        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-counterRapport>
        <tr *ngIf="counterRapportTable.value.length">
          <td>{{counterRapport.counter.name}}</td>
          <td>{{counterRapport.closeDateTime | date: 'dd-MM-yyyy'}}</td>
          <td>{{counterRapport.startHolding}}</td>
          <td>{{counterRapport.newHolding}}</td>
          <td>{{getPaymentAmountByPaymentType(counterRapport, 0) - counterRapport.startHolding}}</td>
          <td>{{getPaymentAmountByPaymentType(counterRapport, 1)}}</td>
          <td>{{getPaymentAmountByPaymentType(counterRapport, 2)}}</td>
          <td>{{getPaymentAmountByPaymentType(counterRapport, 3)}}</td>
          <td>{{counterRapport.difference}}</td>
          <td>{{(getPaymentAmountByPaymentType(counterRapport, 0) - counterRapport.startHolding) +
          (getPaymentAmountByPaymentType(counterRapport, 1) +
            (getPaymentAmountByPaymentType(counterRapport, 2)) +
            (getPaymentAmountByPaymentType(counterRapport, 3)))}}</td>


        </tr>
      </ng-template>
    </p-table>

    <div *ngIf="!counterRapportTable.value?.length" class="no-results">
      <i class="pi pi-search-minus"></i>
      <p>Ingen kasserapporter findes for denne dato.</p>
    </div>



  </p-card>


</div>


</html>
