.flex {
  display: flex;
  justify-content: space-between;


}

.display-counter-reconciliations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


p-card
{
  margin-top : 12vh;
}

.no-results {
  margin-top : 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

}

.no-results i {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.no-results p {
  font-size: 1.2rem;
}
