<!DOCTYPE html>
<html lang="dk">


  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img ngSrc="/ps_logo_hvid.png" alt="Logo" width="200" height="126"/>
      <span class="spacer-left"></span>
      <button mat-button [matMenuTriggerFor]="kasse">
        <mat-icon>money</mat-icon>
        Kasse
      </button>
      <mat-menu #kasse="matMenu" xPosition="after">
        <button mat-menu-item>1. Kasse (salg)</button>
        <button mat-menu-item>2. Kassefunktioner</button>
        <button mat-menu-item>3. Parkerede kvitteringer</button>
        <button mat-menu-item>4. Find kvittering</button>
        <button mat-menu-item>5. Vis seneste kvitteringer</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="service">
        <mat-icon>build</mat-icon>
        Service & RMA
      </button>
      <mat-menu #service="matMenu" xPosition="after">
        <button mat-menu-item>1. Opret ny sag</button>
        <button mat-menu-item>2. Søg efter sag</button>
        <button mat-menu-item>3. Deadline oversigt</button>
        <button mat-menu-item>4. Vis seneste sager</button>
        <button mat-menu-item>5. Vis uafsluttede sager</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="varer">
        <mat-icon>search</mat-icon>
        Varer
      </button>
      <mat-menu #varer="matMenu" xPosition="after">
        <button mat-menu-item [routerLink]="'/products'">1. Varer</button>
        <button mat-menu-item [routerLink]="'/category'">2. Kategorier</button>
        <button mat-menu-item [routerLink]="'/manufacturer'">3. Producenter</button>
        <button mat-menu-item [routerLink]="'/supplier'">4. Leverandører</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="lager">
        <mat-icon>inventory_2</mat-icon>
        Lager
      </button>
      <mat-menu #lager="matMenu" xPosition="after">
        <button mat-menu-item [routerLink]="'/stock-management'" >1. Administrer lagerbeholdning</button>
        <button mat-menu-item>2. Flyt fra lager til lager</button>
        <button mat-menu-item>3. Lagerrapport</button>
        <button mat-menu-item>4. Lagerværdi</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="rapporter">
        <mat-icon>assignment</mat-icon>
        Rapporter
      </button>
      <mat-menu #rapporter="matMenu" xPosition="after">
        <button mat-menu-item>1. Kassetransaktioner</button>
        <button mat-menu-item>2. Kasseopgørelser</button>
        <button mat-menu-item>3. Kasserapport</button>
      </mat-menu>
      <button mat-button [routerLink]="'/main'">
        <mat-icon>bolt</mat-icon>
        <p>Genveje</p>
      </button>
      <span class="spacer-right"></span>


      <p-overlay-badge value="4" severity="danger" class="inline-flex">
        <p-avatar class="p-overlay-badge" image="https://primefaces.org/cdn/primeng/images/demo/avatar/walter.jpg" size="xlarge" shape="circle"/>
      </p-overlay-badge>



    </mat-toolbar-row>
  </mat-toolbar>


</html>
