


.flex {
  display: flex;
  justify-content: space-between;


}

.create-case-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}



p-card
{
  margin-top : 12vh;

}

p-autocomplete {
  width: 100% !important; /* Ensure it takes up the full width */
}




