<!DOCTYPE html>
<html lang="dk">


<div class="sub-category-container">
  <p-toast />
  <p-card header="Underkategorier"
          [style]="
          {'max-width': '50rem',
           'border-radius': '2vh',
           'min-width': '40rem',


           }">

    <p-table
      #subCategoryTable
      [value]="availableSubCategories"
      [globalFilterFields]="['id', 'name', 'categoryId']"
      [scrollable]="true"
      scrollHeight="53vh"
      stripedRows
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 20]">


      <ng-template pTemplate="caption">
        <div class="flex">

          <p-button [outlined]="true" icon="pi pi-plus-circle" label="Tilføj ny underkategori" (onClick)="newSubCategoryClicked()"/>

          <p-iconfield iconPosition="left">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              (input)="subCategoryTable.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Søg"
            />
          </p-iconfield>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Navn</th>
          <th>Kategori</th>
          <th>Muligheder</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-subCategory>
        <tr>
          <td>{{ subCategory.id }}</td>
          <td>{{ subCategory.name }}</td>
          <td>{{ getCategoryNameById(subCategory.categoryId)}}  ({{subCategory.categoryId}}) </td>
          <td>
            <p-button
              icon="pi pi-pencil"
              severity="success"
              [rounded]="true"
              [outlined]="true"
              (click)="editSubCategoryClicked(subCategory)"

            />
            <p-button
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              (click)="deleteSubCategoryClicked(subCategory)"

            />
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-dialog
      [(visible)]="createSubCategoryDialog"
      [style]="{ width: '450px'}"
      header="Opret underkategori"
      [modal]="true"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">
        <div style="display: flex; flex-direction: column; min-height: 350px;">
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-warehouse"></i>
          </p-inputgroup-addon>
          <input pInputText [(ngModel)]="inputNavn" placeholder="Navn" />
        </p-inputgroup>

        <p-select [options]="availableCategories"
                  [(ngModel)]="selectedCategory"
                  optionLabel="name"
                  [filter]="true" filterBy="name"
                  [showClear]="true"
                  placeholder="Vælg kategori">

        </p-select>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <p-button pRipple label="Fortryd" icon="pi pi-times" [text]="true" (click)="hideCreateSubCategoryDialog()" severity="secondary" />
        <p-button pRipple label="Opret" icon="pi pi-check"  (click)="createNewSubCategory()" severity="success"/>
      </ng-template>
    </p-dialog>



    <p-dialog
      [(visible)]="editSubCategoryDialog"
      [style]="{ width: '450px' }"
      header="Rediger Underkategori"
      [modal]="true"
      styleClass="p-fluid"

    >
      <ng-template pTemplate="content">
        <div style="display: flex; flex-direction: column; min-height: 350px;" *ngIf="selectedSubCategory">


          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-id-card"></i>
            </p-inputgroup-addon>
            <input pInputText [(ngModel)]="selectedSubCategory.id" placeholder="Id" [disabled]="true" />
          </p-inputgroup>


          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-warehouse"></i>
            </p-inputgroup-addon>
            <input pInputText [(ngModel)]="selectedSubCategory.name" placeholder="Navn" />
          </p-inputgroup>


          <p-select [options]="availableCategories"
                    [(ngModel)]="selectedCategory" optionLabel="name"
                    [filter]="true" filterBy="name"
                    [showClear]="true"
                    placeholder="Vælg kategori"
                    (ngModelChange)="selectedSubCategory.categoryId = $event?.id || null">



          </p-select>



        </div>
      </ng-template>


      <ng-template pTemplate="footer">
        <p-button pRipple label="Fortryd" icon="pi pi-times" [text]="true" (click)="hideEditSubCategoryDialog()" severity="secondary" />
        <p-button pRipple label="Gem" icon="pi pi-check" (click)="saveSubCategory()" severity="success" />
      </ng-template>
    </p-dialog>


    <p-dialog
      [(visible)]="deleteSubCategoryDialog"
      [style]="{ width: '450px' }"
      header="Slet Underkategori [{{selectedSubCategory?.name}}]"
      [modal]="true"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">


        <div *ngIf="selectedSubCategory">
          <p>Er du sikker på at du vil slette underkategorien: {{selectedSubCategory.name}}?</p>
        </div>

      </ng-template>


      <ng-template pTemplate="footer">
        <p-button pRipple label="Fortryd" icon="pi pi-times" [text]="true" (click)="hideDeleteSubCategoryDialog()" severity="secondary"  />
        <p-button pRipple label="Slet" icon="pi pi-check"   (click)="deleteSubCategory()" severity="danger"/>
      </ng-template>
    </p-dialog>


  </p-card>


</div>


</html>
