.supplier-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top : 12vh;


}


.flex {
  display: flex;
  justify-content: space-between;


}





p-card
{
  width: 60vh;
  height: auto;
  padding: 1.5vh;
  background: var(--lightColor);
  box-shadow:  var(--shadowColor) 0 0 3vh 0vh;
  border-radius: 2vh;

}
