


.flex {
  display: flex;
  justify-content: space-between;


}

.supplier-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}


p-card
{
  margin-top : 12vh;
}



