<!DOCTYPE html>
<html lang="dk">


<div class="stock-management-container">
  <p-toast />
  <p-card header="Administrer lager"
          [style]="
          {'max-width': '60rem',
           'border-radius': '2vh',
           'min-width': '60rem',
           }">


    <div *ngFor="let stateOption of stateOptions">
        <p-radioButton name="state" [value]="stateOption.value" [(ngModel)]="selectedState"></p-radioButton>
        <label>{{stateOption.label}}</label>
    </div>

    <p-progress-spinner *ngIf="isLoading" ariaLabel="loading"></p-progress-spinner>


    <p-table
      *ngIf="!isLoading"
      #stockProductTable
      [value]="availableStockProducts"
      selectionMode="single"
      [(selection)]="selectedStockProduct"
      [globalFilterFields]="['product.name', 'product.manufacturer.name', 'product.supplier.name']"
      [scrollable]="true"
      scrollHeight="53vh"
      stripedRows
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 20]">



      <ng-template pTemplate="caption">
        <div class="flex">



          <p-iconfield iconPosition="left">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              (input)="stockProductTable.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Søg"
              [style]="{
              'max-width': '40rem',
              'min-width': '40rem',
               }"/>

          </p-iconfield>

          <p-inputgroup>
            <input pInputText [(ngModel)]="inputMaengde" placeholder="Antal" />
            <p-inputgroup-addon>Stk.</p-inputgroup-addon>
          </p-inputgroup>

          <ng-container [ngSwitch]="selectedState">
            <p-button *ngSwitchCase="0" label="Tilføj" icon="pi pi-plus" (onClick)="updateStock()" ></p-button>
            <p-button *ngSwitchCase="1" label="Fjern" icon="pi pi-minus" (onClick)="updateStock()" ></p-button>
            <p-button *ngSwitchCase="2" label="Optælling" icon="pi pi-refresh" (onClick)="updateStock()" ></p-button>
          </ng-container>

        </div>
      </ng-template>



      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Navn</th>
          <th>Producent</th>
          <th>Leverandør</th>
          <th>Pris</th>
          <th>Beholdning</th>


        </tr>
      </ng-template>


      <ng-template pTemplate="body" let-stockProduct>
        <tr [pSelectableRow]="stockProduct">
          <td>{{ stockProduct.id }}</td>
          <td>{{ stockProduct.product.name }}</td>
          <td>{{ stockProduct.product.manufacturer.name }}</td>
          <td>{{ stockProduct.product.supplier.name }}</td>
          <td>{{ stockProduct.product.price }}</td>
          <td>{{ stockProduct.quantity }}</td>
        </tr>
      </ng-template>



    </p-table>

  </p-card>


</div>


</html>
