<!DOCTYPE html>
<html lang="dk">

<div class="store-page-container">



  <p-card>
    <ng-template pTemplate="title">
        <h2>Vælg butik</h2>
    </ng-template>




    <ng-template pTemplate="content">
      <div>
        <mat-grid-list  cols="3" rowHeight="1:1" [gutterSize]="'2vh'">
          <mat-grid-tile *ngFor="let store of availableStores" (click)="StoreClicked(store)">
            <div>
              <h1>{{store.name}}</h1>
              <p>{{store.city}}</p>

              <img [ngSrc]="store.picture" priority alt="Store Image" width="200" height="150"/>

            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </ng-template>

  </p-card>





</div>

</html>
