<!DOCTYPE html>
<html lang="dk">

<div class="store-page-container">



  <p-card>
    <ng-template pTemplate="title">
        <h1>Vælg butik</h1>
    </ng-template>

    <ng-template pTemplate="content">
      <div class="store-grid">
        <p-button
          severity="secondary"
          [style]="{width: '15rem', height: '15rem', border: '1px solid'}"
          *ngFor="let store of availableStores"
          iconPos="top"
          (click)="StoreClicked(store)"
          class="store-button">
          <div class="store-content">
            <h2>{{ store.name }}</h2>
            <img [ngSrc]="store.picture" alt="Store Image" width="200" height="150" />
          </div>
        </p-button>
      </div>
    </ng-template>

  </p-card>





</div>

</html>
