<!DOCTYPE html>
<html lang="dk">
<div class="login-container">
  <p-toast />
  <p-card>
    <ng-template pTemplate="header">
      <p-image alt="Logo" [src]="logoSrc"/>
    </ng-template>
    <ng-template pTemplate="title"> RepairPos </ng-template>


    <p-progress-spinner *ngIf="isLoading" ariaLabel="loading"></p-progress-spinner>

    <ng-template pTemplate="content">
      <div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


          <p-floatlabel variant="on">
            <input pInputText id="on_label" formControlName="username" autocomplete="off" />
            <label for="on_label">Brugernavn</label>
          </p-floatlabel>


          <p-floatlabel variant="on">
            <p-password  formControlName="password"  [toggleMask]="true" [feedback]="false" />
            <label for="on_label">Kodeord</label>
          </p-floatlabel>


          <p-button label="Log ind" type="submit" [disabled]="!loginForm.valid"/>

        </form>
      </div>
    </ng-template>

  </p-card>
</div>
</html>
