
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


p-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;


}



p-card div {
  display: flex;
  gap: 1rem;
  justify-content: center;
}


p-floatlabel {
  width: 100%;
  margin-bottom: 0.7rem;
}


p-floatlabel input,
p-floatlabel p-password {
  width: 100%;
  box-sizing: border-box;
}


