<!DOCTYPE html>
<html lang="dk">


<div class="latest-receipts-container">
  <p-toast />
  <p-card header="Seneste Kvitteringer"
          [style]="
          {'max-width': '80rem',
           'border-radius': '2vh',
           'min-width': '80rem',


           }">

    <p-table
      [value]="latestReceipts"
      [scrollable]="true"
      scrollHeight="53vh"
      stripedRows
      [rows]="25">



      <ng-template pTemplate="header">
        <tr>
          <th>Bon id</th>
          <th>Tidspunkt</th>
          <th>Medarbejder</th>
          <th>Sagsnr</th>
          <th>Beløb</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-receipt>
        <tr (click)="receiptClicked(receipt)" style="cursor: pointer;">
          <td>{{ receipt.id }}</td>
          <td>{{ receipt.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ receipt.user.username }}</td>
          <td>{{ receipt.caseId ? receipt.caseId : 'Ingen sag tilknyttet' }}</td>
          <td>{{ receipt.total }}</td>

        </tr>
      </ng-template>
    </p-table>


  </p-card>


</div>


</html>
