<!DOCTYPE html>
<html lang="dk">


<div class="manufacturer-container">
  <p-toast />
  <p-card header="Producenter"
          [style]="
          {'max-width': '50rem',
           'border-radius': '2vh',
           'min-width': '40rem',


           }">

    <p-table
      #manufacturerTable
      [value]="availableManufacturers"
      [globalFilterFields]="['id', 'name', 'website']"
      [scrollable]="true"
      scrollHeight="53vh"
      stripedRows
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 20]">


      <ng-template pTemplate="caption">
        <div class="flex">

          <p-button [outlined]="true" icon="pi pi-plus-circle" label="Tilføj ny producent" (onClick)="newManufacturerClicked()"/>

          <p-iconfield iconPosition="left">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              (input)="manufacturerTable.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Søg"
            />
          </p-iconfield>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Navn</th>
          <th>Hjemmeside</th>
          <th>Muligheder</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-manufacturer>
        <tr>
          <td>{{ manufacturer.id }}</td>
          <td>{{ manufacturer.name }}</td>
          <td>{{ manufacturer.website }}</td>
          <td>
            <p-button
              icon="pi pi-pencil"
              severity="success"
              [rounded]="true"
              [outlined]="true"
              (click)="editManufacturerClicked(manufacturer)"

            />
            <p-button
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              (click)="deleteManufacturerClicked(manufacturer)"

            />
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-dialog
      [(visible)]="createManufacturerDialog"
      [style]="{ width: '450px' }"
      header="Opret producent"
      [modal]="true"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">


        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-warehouse"></i>
          </p-inputgroup-addon>
          <input pInputText [(ngModel)]="inputNavn" placeholder="Navn" />
        </p-inputgroup>

        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-link"></i>
          </p-inputgroup-addon>
          <input pInputText [(ngModel)]="inputHjemmeside" placeholder="Hjemmeside" />
        </p-inputgroup>



      </ng-template>

      <ng-template pTemplate="footer">
        <p-button pRipple label="Fortryd" icon="pi pi-times" [text]="true" (click)="hideCreateManufacturerDialog()" severity="secondary" />
        <p-button pRipple label="Opret" icon="pi pi-check"  (click)="createNewManufacturer()" severity="success"/>
      </ng-template>
    </p-dialog>



    <p-dialog
      [(visible)]="editManufacturerDialog"
      [style]="{ width: '450px' }"
      header="Rediger producent"
      [modal]="true"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">
        <div *ngIf="selectedManufacturer">



          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-id-card"></i>
            </p-inputgroup-addon>
            <input pInputText [(ngModel)]="selectedManufacturer.id" placeholder="Id" [disabled]="true" />
          </p-inputgroup>


          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-warehouse"></i>
            </p-inputgroup-addon>
            <input pInputText [(ngModel)]="selectedManufacturer.name" placeholder="Navn" />
          </p-inputgroup>

          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-link"></i>
            </p-inputgroup-addon>
            <input pInputText [(ngModel)]="selectedManufacturer.website" placeholder="Hjemmeside" />
          </p-inputgroup>
        </div>
      </ng-template>


      <ng-template pTemplate="footer">
        <p-button pRipple label="Fortryd" icon="pi pi-times" [text]="true" (click)="hideEditManufacturerDialog()" severity="secondary" />
        <p-button pRipple label="Gem" icon="pi pi-check" (click)="saveManufacturer()" severity="success" />
      </ng-template>
    </p-dialog>


    <p-dialog
      [(visible)]="deleteManufacturerDialog"
      [style]="{ width: '450px' }"
      header="Slet producent [{{selectedManufacturer?.name}}]"
      [modal]="true"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">


        <div *ngIf="selectedManufacturer">
          <p>Er du sikker på at du vil slette producenten: {{selectedManufacturer.name}}?</p>
        </div>

      </ng-template>


      <ng-template pTemplate="footer">
        <p-button pRipple label="Fortryd" icon="pi pi-times" [text]="true" (click)="hideDeleteManufacturerDialog()" severity="secondary"  />
        <p-button pRipple label="Slet" icon="pi pi-check"   (click)="deleteManufacturer()" severity="danger"/>
      </ng-template>
    </p-dialog>


  </p-card>


</div>


</html>
